<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title" >THANK YOU</h1>
        <p id="modal-subtitle"> FOR YOUR ORDER!</p>
    </header>
    <section id="modal-body">
        <p>Your order made our day! We hope we made yours.</p>
        <p>If you have any question about your order, contact us!</p>

    </section>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-action-button" (click)="actionFunction()">Ok</button>
    </footer>
</div>