html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #3a3a3a;
}

/* Overwrite the styles of the mat-dialog-container element globally, but only for those
that have an id of `modal-component` */
/* https://stackoverflow.com/a/48689004/9263761 */
mat-dialog-container#modal-component {
    border: 3px solid #262626;
    border-radius: 11px;
}
#modal-content-wrapper {
    width: 100%;
    height: 100%;
    padding-top: 25px;
    display: grid;
   /*  grid-template-rows: repeat(1fr, 3); */
}
::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface
{ 
    
    background: url("/assets/img/conf.jpg") no-repeat ;
}

#modal-title {
    font-size: 35px;
    text-align: center;
    /*font-family: bradley hand, cursive;*/
    font-family: brush script mt, cursive;
}
#modal-subtitle {
    font-size: 25px;
    text-align: center;
    font-family: brush script mt, cursive;
}

#modal-footer {
    justify-self: center;
    align-self: center;
}
#modal-body p{
    opacity: 0.9;
    font-family: bradley hand, cursive;
    text-align: center;
    font-size: medium;
}
#modal-action-button {
    background-color:#FF6F61;
    border-radius: 2 solid black;
    color: white;
}
#modal-action-button :hover{
    background-color:#ebdfde;
    border-radius: 2 solid #FF6F61;;
    color: rgb(22, 16, 16);
}


