
  <form [formGroup]="logInForm" (ngSubmit)="logIn()" class="login">
   
    <h1 id="naslov">ADMIN</h1>
    <hr style="
         color: #a9a9a9;
         opacity: 0.3;
       ">
     <div class="form-group login_field">
       <i class="login__icon fas fa-user"></i>
       <input
         type="text"
         formControlName="name"
         placeholder="Username"
         class="form-control login__input"
         [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
       />
       <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
         <div *ngIf="f['name'].errors['required']">Username is required</div>
         <div *ngIf="f['name'].errors['minlength']">
           Username must be at least 6 characters
         </div>
         <div *ngIf="f['name'].errors['maxlength']">
           Username must not exceed 20 characters
         </div>
       </div>
     </div>
  <div class="form-group login_field">
    <i class="login__icon fas fa-lock"></i>
    <input
      type="password"
      placeholder="Password"
      formControlName="psw"
      class="form-control login__input"
      [ngClass]="{ 'is-invalid': submitted && f['psw'].errors }"
    />
    <div *ngIf="submitted && f['psw'].errors" class="invalid-feedback">
      <div *ngIf="f['psw'].errors['required']">Password is required</div>
      <div *ngIf="f['psw'].errors['minlength']">
        Password must be at least 6 characters
      </div>
      <div *ngIf="f['psw'].errors['maxlength']">
        Username must not exceed 40 characters
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary login__submit"><span class="button__text">Log In</span> 	<i class="button__icon fas fa-chevron-right"></i></button>
    <span style=" display: block;
    text-align: center;
    margin-top:19px;font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;">You are customer? <a routerLink="/user_login">Sign in here</a></span>
  </div> 
       

</form> 
