html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #3a3a3a;
}

/* Overwrite the styles of the mat-dialog-container element globally, but only for those
that have an id of `modal-component` */
/* https://stackoverflow.com/a/48689004/9263761 */
mat-dialog-container#modal-component {
    border: 3px solid #262626;
    border-radius: 11px;
}
#modal-content-wrapper {
    width: 100%;
    height: 80%;
    padding-top: 25px;
    display: grid;
   /*  grid-template-rows: repeat(1fr, 3); */
}
 ::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface
{ 
    
  height: 90%;
} 
::ng-deep .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 3;
}
::ng-deep .cdk-overlay-dark-backdrop {
    background: rgb(0 0 0 / 32%);
}
#modal-title {
    font-size: 35px;
    text-align: center;
    /*font-family: bradley hand, cursive;*/
    font-family: brush script mt, cursive;
}
#modal-subtitle {
    font-size: 25px;
    text-align: center;
    font-family: brush script mt, cursive;
}

#modal-footer {
    justify-self: center;
    align-self: center;
}
#modal-body
{
    height: 0px;
}
#modal-body p{
    opacity: 0.9;
    font-family: bradley hand, cursive;
    text-align: center;
    font-size: 18px;
}
#modal-action-button {
    background-color:#FF6F61;
    margin-right: 30px;
    color: white;
}
#modal-action-button:hover{
    background-color:white;
    border: 2px solid #FF6F61;
    color: #FF6F61
}
#modal-cancel-button {
    background-color: #FF6F61;
    color: white;
}
#modal-cancel-button:hover {
    background-color: white;
    border: 2px solid #FF6F61;
    color:#FF6F61
}