.users-page {
    position: relative;
    padding: 30px 0;
}
.users-page .users-page-inner {
    padding: 30px;
    background: #ffffff;
}
table .thead-dark th {
    text-align: center;
    color: #353535;
    background: #ffffff;
    border-color: #dddddd;
    border-bottom: none;
    vertical-align: middle;}
 table td{ 
      vertical-align: middle;
    }
table{
    text-align: center;
}