<div class="order-page">
    <div class="container-fluid" style="padding-right: 350px;
    padding-left: 350px">
        <div class="order-page-inner">
            <h3 style="margin-bottom: 20px;">Orders</h3>
            <div class="row" *ngIf="orderData.length>0">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Total Price</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                   
                                </tr>
                            </thead>
                            <tbody class="align-middle">
                                <tr *ngFor="let order of orderData">
                                   
                                    <td>
                                      {{order.id}}
                                    </td> 
                                    <td>
                                        {{order.datum | date: 'dd MMM yyyy '}}
                                        
                                    </td>
                                    <td>
                                        {{order.datum | date: 'hh:mm a'}}
                                        
                                    </td>
                                    <td>$ {{order.ukupnaCena}}</td>
                                    <td> {{order.status}}</td>
                                    <td *ngIf="order.status==='In progress'"><button class="btn" (click)="cancelOrder(order.id)" >Cancel order</button></td>
                                    <td *ngIf="order.status!='In progress'"> </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="orderData.length===0">
                <div class="col-lg-8" >
                  <p>  You currently have no orders. </p>
                </div></div>
        </div>
    </div>
</div>